body {
    font-family: 'Poppins', sans-serif; 
}

.profile-pic{
    border: 2px solid white;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);

}

.banner-pic {
    position: relative;
      top: 0;
      left: 0;
      background-size:cover;
      /* background-position:center ; */
}

#nav-select {
    position:inherit;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
}

.username {
    font-family: 'Poppins', sans-serif;
    color: rgb(4, 17, 29);
    font-weight: 600;
    font-size: 37px;
    position: relative;
    padding-top: 72px;
}

.username2 {
    padding-top: 11px;
    font-size: 13px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
    color: rgb(32, 129, 226);
    text-decoration: none;
}

.tab {
    padding-top: 5px;
    border:1px solid rgb(229, 232, 235);
    text-align: center;
    width: 100%;
}

.tab2 {
    /* padding-bottom: 10px;
    padding-top: 5px; */
    border: 1px solid rgb(229, 232, 235);
    text-align: center;
    width: 100%;
    /* padding-left: 15px;
    padding-right: 15px; */
}

.button-right{
    border-radius: 0px 10px 10px 0px;
  /* padding: 20px;  */
}

.button-left{
    border-radius: 10px 0px 0px 10px; 
}

.width-red {
    margin-top: 15px;
    max-width: 600px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} 
.width-red2 {
    width: fit-content;
    margin-top: 23px;
    /* max-width: 600px; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.width-red3 {
    width: fit-content;
    /* margin-top: 23px; */
    /* max-width: 600px; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 30px;
}


.small-table {
    text-align: center;
    color: rgb(138, 147, 155);
}

.big-p-table{
    font-weight: 500;
    font-size: 24px;
}

.big-p-table1{
    font-weight: 500;
    font-size: 24px;
}

.size-area {
    width: 100%;
}

.about-info {
    font-size: 16px;
    color: rgb(112, 122, 131);
    text-align: center;
    font-family: Poppins, sans-serif;
    line-height: 1.5;

}

.div-about-info {
    max-height: 190px;
    word-break: break-word;
    max-width: 800px;
    padding: 20px;
    overflow: hidden;
    transition: max-height 100ms ease 0s;
}

.collections {
    margin-top: 40px;
}

.collections2 {
    margin-top: 9px;
}

.fitting{
    padding-bottom: 30px;
    /* max-width: 407px; */
    display: block;
    /* margin: 0 auto; */

}

.card-hover:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: ease-in-out;
    transition-delay: 0.1s;
    transition-duration: 0.5s;
}

.eth-svg{
    width: 15px;
}

.eth-svg-card{
    width: 7px;
}

.card-last {
    margin-top: 35px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    font-weight: 500;
    padding: 12px;
    height: 42px;
    width: 100%;
    background: linear-gradient(rgba(229, 232, 235, 0.392) 0%, rgb(255, 255, 255) 20%);
}


.likes-count {
    font-weight: 500;
    font-size: 12px;
    color: rgb(112, 122, 131);
}

.connect-btn{
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    background-color: rgb(32, 129, 226);
    border: 1px solid rgb(32, 129, 226);
    color: rgb(255, 255, 255);
}

.connect-btn2{
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    background-color: rgb(141, 150, 155);
    border: 1px solid rgb(141, 150, 155);
    color: rgb(255, 255, 255);
}

.ten-chars {
    width: 10ch;
    overflow:v;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.likesNumberShow {
    font-weight: 500;
    font-size: 12px;
    color: rgb(112, 122, 131);
    padding-left: 32px;
} 
.bigPShow {
    font-size: 30px;
    font-weight: 600;
    max-width: 100%;
    margin: 0px;
    width: 588px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    color: rgb(53, 56, 64);
    padding-bottom: 24px;
}

.smallPShow {

}

.pushDownShow{
    /* margin-top: 30px; */
    color: rgb(112, 122, 131);
}

.pushDownShow2{
    /* margin-top: 60px; */
}

.pushDown20 {
    margin-top: 21px;
}

.gretyt {
    border-radius: 10px;
    border-right: 1px solid rgb(229, 232, 235);
    border-bottom: 1px solid rgb(229, 232, 235);
    border-left: 1px solid rgb(229, 232, 235);
    border-image: initial;
    border-top: none;
    color: rgb(4, 17, 29);
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.button-da {
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 10px;
    border-top: 1px solid rgb(229, 232, 235);
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    user-select: none;
    background-color: rgb(255, 255, 255);
}

.border-rounding {
    background-color: rgba(21, 178, 229, 0.06);
    border-radius: 6px;
    border: 1px solid rgb(21, 178, 229);
    padding: 10px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 6px;
}

.p-show-tag{
    color: rgb(53, 56, 64);
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.span-show-tag{
    color: rgb(112, 122, 131);
    font-size: 13px;
    line-height: 16px;
    min-height: 16px;
}

.img-show-prop {
    height: 130px;
    width: 100%;
    border-radius: 10px;
}

.full-props {
    height: 50px;
}

.empty-stuff {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footerColor {
    color: rgb(255, 255, 255);
    height: auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: rgb(24, 104, 183);
    padding-top: 50px;
}

.stayInLoop {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 8px;
}

.footerPtag {
    font-size: 16px;
    color: rgb(251, 253, 255);
}

.reduceWidthFooter{
    width: 80%;
}

#inputFooter {
    min-width: 50px;
    width: 100%;
    cursor: text;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(229, 232, 235);
    width: 100%;
    padding: 12px;
}

.buttonFooter{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    background-color: rgb(32, 129, 226);
    border: 1px solid rgb(32, 129, 226);
    color: rgb(255, 255, 255);
}

.blue-back-footer {
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    background-color: rgb(32, 129, 226);
    border: 1px solid rgb(32, 129, 226);
    color: rgb(255, 255, 255);
}

.footerP-last {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 8px;
}

.white-p-tags {
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.whitePlast{
    color: rgb(251, 253, 255);
}